body {
 background:rgba(100,10,70,0.1);
 font-size: 100%;
 }
 
 header{
	color: rgba(0,0,0,0.7);
	float: right;
	font-size: 0.875em;
	font-weight: bold;
}

.nav{
display: flex;
justify-content: flex-start;
align-items: center;
	width: 100%;
	height: 50px;
	border-radius: 5px;
	background: rgba(250,250,250,1);
border: solid;
border-width: thin;
}

.cont1{
	position: absolute;
	left: 10px;
	top: 150px;
	width: 45%;
}

.cont2{
	position: absolute;
	left: 52%;
	top: 150px;
	width: 45%;
}

a{
	margin-left: 10px;
	text-decoration: none;
}

p{
	font-size: 0.875em;
	color: rgba(0,0,0,0.5);
}

h1{
	color: rgba(0,0,0,0.6);
}

.ans{
	color: red;
}

.sho{
	color: green;
}

.c{
	border: solid;
	border-width: thin;
	padding: 10px;
}

#desc{
	position: absolute;
	left: 10px;
	top: 300px;
	width: 88%;
	height: auto;
	border-top: solid;
	border-width: thin;
	padding: 10px;
}